.view-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.basic-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.basic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.bio-container {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
}

.view-buttons-container {
  display: flex;
  justify-content: center;
}