.chat-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 8px 8px 0 0;
}

.header-participants {
  font-size: 1rem;
  color: #333;
}

.settings-container {
  text-align: right;
}

.dropdown-item-disabled {
  font-weight: bold;
  color: #888;
}

.chat-setting-button {
  color: #000000;
}
