.chat-body {

}

.message-list {

}

.message-block {

}

.message-text {
  margin-left: auto;
  background-color: #8ecae6;
}

.message-user {
  margin-left: auto;
  background-color: #8ecae6;
}

.message-timestamp {
  display: inline-block;
	text-align: right;
	margin-left: 0;
	margin-right: 3.75rem;
	width: calc(100% - 3.75rem);
}

.send-message {

}

.input-row {
  display: flex;
  gap: 0.5em;
}

.message-textarea {
  flex: 5;
  padding: 0.25em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.85rem;
  resize: none;
}

.send-message-button {

}

.send-message-button:hover {

}

.error {
  color: red;
  font-size: 0.75rem;
  display: block;
  margin-top: -0.5em;
}