.form {
  background-color: #f4f4f4;
  padding: 20px;
  width: 60%; /* Adjust as per requirement */
  margin: 20px auto; /* Centers the form on the page */
} 

.form-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 24px;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}