.user-header {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.ant-input {
  border-radius: 8px; /* Rounded input */
  height: 40px;
}

.ant-btn-primary {
  border-radius: 8px; /* Rounded button */
  height: 40px;
  font-size: 14px;
}