.view-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.basic-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.basic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.bio-container {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
}

.view-buttons-container {
  display: flex;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.edit-basic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-bio-container {
  display: flex;
  flex-direction: column;
}

.edit-buttons-container {
  display: flex;
  justify-content: center;
}

.edit-basic-field-container {
  display: flex;
}

.tab-container {
  margin-top: 20px;
}

.tablinks button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablinks button.active {
  background-color: #ccc;
  font-weight: bold;
}

.tabcontent {
  display: none;
  padding-top: 10px;
}

.tabcontent.active {
  display: block;
}